{%extends 'base.html'%} 

{%block title%} 
    Welcome! 
{%endblock%} 

{%block styles%}
<link rel="stylesheet" href="../static/styles/index.css">
{%endblock%}
{%block header%}"../static/imgs/pokebattle.png"{%endblock%}
{%block content%}
        <main class="main-overall"><p>Welcome to Pokébattle, the soon to be hottest app on the market. Unfortunately, this is still a heavy WIP, so all we've got right now is <a href="{{ url_for('main.pokedex') }}">the Pokédex</a>!</p>
            {%include './includes/flash.html'%}
        <h2 class="content-header">Content!</h2>
        <div class="content-container">
            <div class="content-square square1"><a class="content-link" href="{{ url_for('main.pokedex') }}"><img src="../static/imgs/pokedex-sprite.png" alt="Pokedex Sprite" class="content-img"></a><p class="content-text">PokéDex</p></div>
            <div class="content-square square2"><a class="content-link" href="{{ url_for('main.squad') }}"><img src="../static/imgs/pikachu_sprite.png" alt="Squad Sprite" class="content-img"></a><p class="content-text">Squad</p></div>
            <div class="content-square square3"><a class="content-link" href="{{ url_for('battle.battle_page') }}"><img src="../static/imgs/battle_sprite.png" alt="Battle Sprite" class="content-img"></a><p class="content-text">Battle!</p></div>
            <div class="content-square square4"><a class="content-link" href="{{ url_for('auth.account') }}"><img src="../static/imgs/trainer_sprite.png" alt="Account Sprite" class="content-img"></a><p class="content-text">Account</p></div>
            <div class="content-square square5"><a class="content-link" href="{{ url_for('battle.record') }}"><img src="../static/imgs/record.png" alt="Record Sprite" class="content-img"></a><p class="content-text">Record</p></div>
            <div class="content-square square6"><img src="../static/imgs/pokedex-sprite.png" alt="Pokedex Sprite" class="content-img"><p class="content-text">Test</p></div>
        </div></main>

    </div>
{%endblock%}
