@import url(./cards.css);

.lookup {
  border: 2px rgba(192, 192, 192, 0.5) solid;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 30px;
}

.lookup-btn {
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.lookup-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
}

.lookup-input::placeholder {
  color: rgba(192, 192, 192, 0.75);
}

.lookup-together {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 7px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catch-btn {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgba(42, 117, 187, 1);
  box-shadow: inset rgba(205, 0, 0, 1) 0px 0px 15px 3px,
    rgba(205, 0, 0, 1) 0px 0px 10px 2px;
  border: 1px rgba(205, 0, 0, 1) solid;
}

.catch-btn:hover {
  border: 1px rgba(205, 0, 0, 1) solid;
  background-color: rgba(60, 90, 166, 1);
}

.btn-img {
  margin-bottom: -10px;
}

.blurb {
  border: 1px rgba(192, 192, 192, 0.5) solid;
  background-color: rgba(240, 240, 240, 0.85);
  padding: 10px;
  border-radius: 10px;
}
