* {
  font-family: "Electrolize", sans-serif;
  box-sizing: border-box;
  border: 0;
  padding: 0;
}

.header {
  position: relative;
}

.overall {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-img {
  height: 150px;
  margin: 20px;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 0, 0, 1) 0%,
    rgba(204, 0, 0, 1) 10%,
    rgba(59, 76, 202, 1) 20%,
    rgba(144, 198, 248, 1) 50%
  );
}

.account-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.account-btn {
  background-color: rgba(204, 0, 0, 0.3);
}

.account-btn:hover {
  background-color: rgba(204, 0, 0, 0.8);
}

.account-menu {
  background-color: rgba(204, 0, 0, 0.3);
}

.account-item:hover {
  background-color: rgba(204, 0, 0, 0.4);
}

.account-name {
  font-size: 1.8rem;
  font-family: "VT323", monospace;
  color: rgba(59, 76, 202, 1);
  text-align: center;
}

.flashes {
  padding: 0;
  margin: 0;
}

.flash-alert {
  margin-bottom: 0;
}

.prof_img {
  width: 32px;
  height: 32px;
}
