{%extends 'base.html'%}

{%block title%}
    PokeDex
{%endblock%}

{%block styles%}
<link rel="stylesheet" href="../static/styles/pokedex.css">
{%endblock%}

{%block content%}
<main>
  <div class="overall">
  <div class="img-container"><a href="/"><img src="../static/imgs/pokedex.png" alt="Pokedex Label Image" class="pokedex-img"></a><span class="img-shadow"></span></div>
  <div class="blurb">Use this tool to look up any Pokémon you desire, either by name or ID number. If you're uncertain, you can leave it blank or enter "random" to look at a random Pokémon.</div>
<div class="lookup">
<form method="POST" class="lookup-form">
    <div class="mb-3">
      <div class="lookup-together">
      <input type="text" class="form-control lookup-input" id="pokemon" name="lookup" placeholder="Pokémon name or ID number">
    <button type="submit" class="btn btn-primary lookup-btn">Lookup!</button>
  </div>
    </div>
  </form>
</div>

{% if pokemon%}
<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src={{pokemon.sprite_url}} alt="Avatar" style="width:250px;height:250px;" class="front-img">
        <p class="front-text">{{pokemon.name}}</p>
      </div>
      <div class="flip-card-back">
        <h1 class="info-text">{{pokemon.name}}</h1>
        <div class="information">
          <p class="info-text">Base HP: {{pokemon.base_hp}}</p>
          <p class="info-text">Base EXP: {{pokemon.base_exp}}</p>
          <p class="info-text">Base ATK: {{pokemon.base_atk}} || Base DEF: {{pokemon.base_def}}</p>
          <p class="info-text">Base S. ATK: {{pokemon.base_s_atk}} || Base S. DEF: {{pokemon.base_s_def}}</p>
          <p class="info-text">Base SPD: {{pokemon.base_spd}}</p>
          <p class="info-text">Ability: {{pokemon.ability1}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
{%endif%}
{%endblock%}