* {
  font-family: "Electrolize", sans-serif;
  box-sizing: border-box;
  border: 0;
  padding: 0;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: gold;
  background: rgb(255, 222, 5);
  background: linear-gradient(
    180deg,
    rgba(255, 222, 0, 1) 0%,
    rgba(60, 90, 166, 1) 50%,
    rgba(42, 117, 187, 1) 75%,
    rgba(205, 0, 0, 1) 100%
  );
  color: black;
  border-radius: 20px;
}

/* Style the back side */
.flip-card-back {
  background: rgb(255, 203, 5);
  background: linear-gradient(
    0deg,
    rgba(255, 222, 0, 1) 0%,
    rgba(60, 90, 166, 1) 50%,
    rgba(42, 117, 187, 1) 75%,
    rgba(205, 0, 0, 1) 100%
  );
  color: white;
  border-radius: 20px;
  transform: rotateY(180deg);
}

.information {
  display: flex;
  flex-direction: column;
  border: 1px silver solid;
  border-radius: 5px;
  margin: 10px;
}

.info-text {
  font-family: "VT323", monospace;
  font-size: 1.2rem;
}

.front-text {
  font-family: "VT323", monospace;
  font-size: 2.5rem;
}

.front-img {
  border: 2px silver solid;
  border-radius: 25%;
  margin: 40px 10px;
  background-color: white;
  box-shadow: inset gold 0px 0px 50px 10px;
}

.overall {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lookup {
  border: 2px rgba(192, 192, 192, 0.5) solid;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 30px;
}

.lookup-btn {
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.lookup-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
}

.lookup-input::placeholder {
  color: rgba(192, 192, 192, 0.75);
}

.lookup-together {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 7px;
}

.pokedex-img {
  height: 150px;
  margin: 20px;
}

.img-container {
  position: relative;
}

.img-shadow {
  box-shadow: 0px 0px 40px 40px rgb(66, 69, 240), 0px 0px 50px 50px gold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
