{%extends 'base.html'%} 

{%block title%} 
    Welcome! 
{%endblock%} 

{%block styles%}
<link rel="stylesheet" href="../static/styles/index.css">
{%endblock%}

{%block content%}
    <div class="overall">
        <header class="header"><div><a href="/"><img src="../static/imgs/pokebattle.png" alt="Pokebattle Header Image" class="header-img"></a></header>
        <main class="main-overall"><p>Welcome to Pokébattle, the soon to be hottest app on the market. Unfortunately, this is still a heavy WIP, so all we've got right now is <a href="/pokedex">the Pokédex</a>!</p>
        <h2 class="content-header">Content!</h2>
        <div class="content-container">
            <div class="content-square square1"><a class="content-link" href="./pokedex"><img src="../static/imgs/pokedex-sprite.png" alt="Pokedex Sprite" class="content-img"></a><p class="content-text">PokéDex</p></div>
            <div class="content-square square2"><img src="../static/imgs/pokedex-sprite.png" alt="Pokedex Sprite" class="content-img"><p class="content-text">Test</p></div>
            <div class="content-square square3"><img src="../static/imgs/pokedex-sprite.png" alt="Pokedex Sprite" class="content-img"><p class="content-text">Test</p></div>
            <div class="content-square square4"><img src="../static/imgs/pokedex-sprite.png" alt="Pokedex Sprite" class="content-img"><p class="content-text">Test</p></div>
            <div class="content-square square5"><img src="../static/imgs/pokedex-sprite.png" alt="Pokedex Sprite" class="content-img"><p class="content-text">Test</p></div>
            <div class="content-square square6"><img src="../static/imgs/pokedex-sprite.png" alt="Pokedex Sprite" class="content-img"><p class="content-text">Test</p></div>
        </div></main>
    </div>
{%endblock%}
