{%extends 'base.html'%}

{%block title%} Sign Up {%endblock%}
{%block styles%} <link rel="stylesheet" href="../static/styles/login.css">{%endblock%}

{%block content%}
<div class="overall">
<header class="header">
    <header class="header"><div><a href="{{ url_for('index') }}"><img src="../static/imgs/signup.png" alt="Pokebattle Signup Image" class="header-img"></a></header>
</header>
{%include './includes/flash.html'%}
<div class="form-container">
<form method="POST">
  {{ form.hidden_tag() }}
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      {{ form.username(class="form-control", id="username", placeholder="Username") }}
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        {{ form.email(class="form-control", id="email", placeholder="Email") }}
      </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      {{ form.password(class="form-control", id="password", placeholder="Password") }}
    </div>
    {{ form.signup_btn(class="btn btn-primary")}}
  </form>
</div>
</div>
{%endblock%}